
<h1>Eat-Da-Burger!</h1>


<h2>Fresh and Delicious Burgers are waiting for you!</h2>
<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ol>



 <h2>Burgers that are devoured!</h2>

<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ol>

<form class="create-form">

  <div class="form-group">
    
    <input type="text" id="ca" name="burger_name">
  </div>

  <h3>Enter a burger that you want to eat.Press the button</h3>
  <button type="submit">Add Burger</button>
</form>
