body{
  /* background-color: rgb(253, 200, 55); */
  text-align: center;
}

h1{
  text-align:center;
  color: rgb(202, 57, 21);
  font-size: 4em;
}

ol{
 float: center;
 text-align: center;
 background: #f3f1ed; 
 margin: 2px;
 
}

li {
  font-size: 1.5em;
  padding: 5px;
  margin: 2px;
  /* border:1px solid grey; */
  
}
button{
  color:rgb(202, 57, 21) ;
  font-size: 1em;
}

.label {
  font-weight: bold;
}


.form-group {
  margin-bottom: 15px;
  padding-top: 20px;
  float: center;
}
